# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs (Vite & TS)
dist/
dist-isolation/
out-tsc/
/tmp

# Tauri / Rust Build Artifacts
src-tauri/target/

# IDE / OS junk
.idea/
.vscode/
.DS_Store
*.swp
*.swo

# Local data / Env
data/
.env
.env.*
!.env.example